<!DOCTYPE html>

<head>

  <link href="/css/output.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="it">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="h-full bg-gray-100">
  <div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">

            <div class="flex-shrink-0">
              <a href="/Home" target="_parent"><img class="size-8" src="/favicon.ico" width="10%" height="10%"
                  alt="Your Company"></a>
            </div>
            <div class="md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="/ViewActivity" target="_parent"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Area
                  riservata</a>
                <a href="/Team" target="_parent"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Team</a>
                <a href="/Account" target="_parent"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Profilo</a>
              </div>
            </div>

            <!--Menu sinistro--->
          </div>
          <div class="ml-4 flex items-center md:ml-6">
            <a href="/logout.php" target="_parent" type="button"
              class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              Logout
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!--White Bar-->
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 id="WhiteboardTxt" class="text-3xl font-bold tracking-tight text-gray-900">PlaceHolder</h1>
      </div>
    </header>
  </div>
  <script type="text/javascript">
    var params = new URLSearchParams(window.location.search);
    var embeddedBy = params.get('Title');
    document.getElementById("WhiteboardTxt").innerText = embeddedBy;
  </script>
</body>